{% extends "react.twig" %}

{% block main %}
    <div class="border-4 border-top border-danger py-5 px-2 px-md-5 px-lg-5">
        <div class="container row">
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </div>
    </div>
{% endblock %}