<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid m-shrink">

        <a class="navbar-brand me-auto text-brand" href="/">
            <h2>BlogHub</h2>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>

                {% if userId %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Me
                        </a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="/blog/my">My Blogs</a></li>
                            <li><a class="dropdown-item" href="/blog/new">Post Blog</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/account/logout">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if not userId %}
                    <li class="nav-item">
                        <a class="btn btn-default" href="/account/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success" href="/account/signup">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>