<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">

    <meta property="og:title" content="BlogHub">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://htmlstream.com/preview/space-v2.3.1/">
    <meta property="og:image" content="https://bloghub.com/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="BlogHub logo">
    <meta property="og:description"
          content="Register, post blogs, and explore diverse topics on our community-driven blog platform. Join now!">
    <meta name="description"
          content="Register, post blogs, and explore diverse topics on our community-driven blog platform. Join now!"/>
</head>
<body>
    {% include "nav.twig" %}
    <main></main>

    <script src="https://unpkg.com/react@18.2.0/umd/react.development.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script type="text/babel" src="/assets/js/utils/format.js"></script>
    {% block render_script %}
        <script type="text/babel" src="/assets/js/utils/render.jsx"></script>
    {% endblock %}
    {% block script %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>