:root {
    --brand-bg: linear-gradient(45deg, #348F50, #56B4D3)
}

.w-max {
    width: max-content;
}

.m-shrink {
    margin: 0 20%;
}

.bg-brand {
    background: var(--brand-bg);
}

.text-brand {
    color: #348F50;
}